In [1]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in g:\anaconda\lib\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in g:\anaconda\lib\site-packages (from ucimlrepo) (2025.1.31)
Requirement already satisfied: numpy>=1.26.0 in g:\anaconda\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in g:\anaconda\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in g:\anaconda\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in g:\anaconda\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in g:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7
Note: you may need to restart the kernel to use updated packages.

In [32]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
import numpy as np

In [56]:
### recuperando os dados do dataset
online_retail = fetch_ucirepo(id=352) 
  
# dados
X = online_retail.data.original

In [58]:
X['Cancelamento'] = X.InvoiceNo.str.contains('C')

In [59]:
X.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Cancelamento
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,False
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,False
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,False
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,False
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,False

In [61]:
len(X.Description.unique())

4224

In [50]:
X.groupby('Country').CustomerID.count().sort_values(ascending = False)

Country
United Kingdom          361878
Germany                   9495
France                    8491
EIRE                      7485
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               1877
Portugal                  1480
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
USA                        291
Israel                     250
Unspecified                244
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     17
Saudi Arabia                10
Hong Kong                    0
Name: CustomerID, dtype: int64

In [ ]:
###RFV

In [62]:
X['Receita'] =  X.Quantity * X.UnitPrice

In [74]:
agregado_cliente = X.groupby('CustomerID').agg({'Receita': 'sum',
                            'InvoiceDate': 'max',
                            'InvoiceNo': 'nunique',
                             'StockCode': 'nunique'}).reset_index()

In [75]:
agregado_cliente

      CustomerID  Receita      InvoiceDate  InvoiceNo  StockCode
0        12346.0     0.00  1/18/2011 10:17          2          1
1        12347.0  4310.00    8/2/2011 8:48          7        103
2        12348.0  1797.24  9/25/2011 13:13          4         22
3        12349.0  1757.55  11/21/2011 9:51          1         73
4        12350.0   334.40   2/2/2011 16:01          1         17
...          ...      ...              ...        ...        ...
4367     18280.0   180.60    3/7/2011 9:52          1         10
4368     18281.0    80.82  6/12/2011 10:53          1          7
4369     18282.0   176.60   8/9/2011 15:10          3         12
4370     18283.0  2094.88   9/5/2011 12:35         16        263
4371     18287.0  1837.28  5/22/2011 10:39          3         59

[4372 rows x 5 columns]

In [89]:
data_final = pd.to_datetime('2012-01-01')
agregado_cliente['InvoiceDate'] = pd.to_datetime(agregado_cliente['InvoiceDate'])

agregado_cliente['Recencia'] = (data_final - agregado_cliente['InvoiceDate']).dt.days

In [88]:
agregado_cliente.InvoiceDate.max()

Timestamp('2011-12-09 12:16:00')

In [90]:
agregado_cliente.rename({'InvoiceDate':'UltimaCompra',
                         'InvoiceNo': 'Tickets',
                        'StockCode': 'Itens'}, axis = 1, inplace = True)

In [91]:
agregado_cliente

      CustomerID  Receita        UltimaCompra  Tickets  Itens  Recencia
0        12346.0     0.00 2011-01-18 10:17:00        2      1       347
1        12347.0  4310.00 2011-08-02 08:48:00        7    103       151
2        12348.0  1797.24 2011-09-25 13:13:00        4     22        97
3        12349.0  1757.55 2011-11-21 09:51:00        1     73        40
4        12350.0   334.40 2011-02-02 16:01:00        1     17       332
...          ...      ...                 ...      ...    ...       ...
4367     18280.0   180.60 2011-03-07 09:52:00        1     10       299
4368     18281.0    80.82 2011-06-12 10:53:00        1      7       202
4369     18282.0   176.60 2011-08-09 15:10:00        3     12       144
4370     18283.0  2094.88 2011-09-05 12:35:00       16    263       117
4371     18287.0  1837.28 2011-05-22 10:39:00        3     59       223

[4372 rows x 6 columns]

In [ ]:
### Pareto dos principais produtos

In [53]:
X.loc[X.InvoiceNo == '536383']

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [ ]:
### Segmentação

In [49]:
X.CustomerID.unique()

array([17850., 13047., 12583., ..., 13298., 14569., 12713.])